table {

    border: 1px solid black;
    text-align: center;  
    width: auto;
    
}

th {

    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;

}

td {

    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;

}