ul {

    padding: 0;

}

.reservation-cards-container {

    display: flex;
    flex-direction: column;
    gap: 25px;

}

.reservation-cards-container span {

    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}